.detalle-imagen{
    width: 330px;
    height: 250px;
    object-fit:cover ;
    border-radius: 20px;
    padding:15px 10px 0 10px;
 
}

.detalle-container{
    width: 350px;
    border: 1px solid #afafaf;
    border-radius: 12px;
    padding:0 10px;
    margin: 20px auto;
}